[
    {
        "name": "test_hash_string",
        "files": [ "tests/test_hash_string.c",
                   "src/hash_string.c",
                   "src/hashtable.c"],
        "compilation_cmd": "-Itests -Isrc",
        "raw_options": {"-val-args": " C89"}
    },
    {
        "name": "test_hashtable",
        "files": [ "tests/test_hashtable.c",
                   "src/hashtable.c" ],
        "compilation_cmd": "-Itests -Isrc",
        "raw_options": {"-val-args": " C89"}
    },
    {
        "name": "test_list",
        "files": [ "tests/test_list.c",
                   "src/list.c" ],
        "compilation_cmd": "-Itests -Isrc",
        "raw_options": {"-val-args": " C89"}
    },
    {
        "name": "test_queue",
        "files": [ "tests/test_queue.c",
                   "src/queue.c" ],
        "compilation_cmd": "-Itests -Isrc",
        "raw_options": {"-val-args": " C89"}
    },
    {
        "name": "test_rbtree",
        "files": [ "tests/test_rbtree.c",
                   "src/rbtree.c" ],
        "compilation_cmd": "-Itests -Isrc",
        "raw_options": {"-val-args": " C89"}
    },
    {
        "name": "test_stack",
        "files": [ "tests/test_stack.c",
                   "src/stack.c" ],
        "compilation_cmd": "-Itests -Isrc",
        "raw_options": {"-val-args": " C89"}
    }
]

x
x
x
x
x
x
